body{
    font-family: 'Righteous', cursive;
    
}
h3{
    position: absolute;
    bottom: -15px;
}
footer{
    background-color: #f3c138 !important;
    border-top: #fdce4e solid 5px !important;
}

.div-nav-edit{
    background-color: #f3c138 !important;
    border-bottom: #fdce4e solid 5px !important;
    height: 4.5rem;
}

input{
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-radius: 2px !important;
    border-bottom: #f3c138 solid 2px !important;
}


.container-edit{
    margin-top: 0px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap;
    padding-top: 1rem;
}
.text-edit{
    color: #1a1a1a;
    font-size: 1.5rem;
}

.div-validate{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.table-edit{
    
    width: 95%;
}
.form-edit{
    width: 70%;
}

.edit-table-palav{
    padding-right: 10px;
    border: none !important;
}

.btn-adc{
    margin-top: 10px;
    background-color: #f3c138;
    color: black !important;
    border: #f3c138 solid 1px;
    border-radius: 15px !important;
}

.btn-adc:hover{
    color: black !important;
    background-color: #9dee67;
    border: #5af062 solid 1px;
}


.btn-rmv{
    margin-top: 10px;
    background-color: #f3c138;
    color: black !important;
    border: #f3c138 solid 1px;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 15px !important;
}

.btn-rmv:hover{
    color: black !important;
    background-color: #ee6767;
    border: #f05a5a solid 1px;
}

.content {
    flex: 1;
}
  
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.img-edit{
    width: 11rem;
}

.creditos{
    margin-right:40px;
}

.text-td-q{
    font-weight: bold;
}

.ul-edit{
    list-style-type: none;
    margin: 0;
}

.img-edit{
    width: 1.3rem;
}


.link-edit{
    color: black;
}

.link-edit:hover{
    color: #0077d8;
    text-decoration:none;
}