.nav-bar-edit{
    background-color: #213052 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    height: 11rem !important;
    
}

.band-logo-edit {
    color: #efefef !important;
    font-size: 2.5rem !important;
}

.input-div label {
    color: #213052 !important;
    
}

.input-div {
    text-align: start !important;
}

.input-div input {
    color: #213052 !important;
    border-bottom: #213052  solid 1px !important;
    padding-right: 30px !important;
    
}

input, span, label, i {
    font-size: 2.5rem !important;
}

input {
    height: 6rem !important;
}

.content span {
    font-size: 1.5rem;
    color: #ff2c3e;
}

body {
    overflow: auto;
    font-family: 'Righteous', cursive;
    background-color: #efefef !important;
}

.edit-icon{
    margin-top: 3px;
    width: 1.3rem;
}

.edit-p-text-footer{
    text-align: left;
}

.content {
    text-align: center;
    width: 80%;
}

.eye {
    position: absolute;
    right: -28px;
    top: 12px;
    font-size: 20px;
    cursor: pointer;
}

.eye:active {
    opacity: 0.6 ;
    transform: scale(0.9);
}

.conteiner-edit {
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex; 
}

.content-final {
    width: 100%;
}

.btn-edit {
    background-color: #ff2c3e !important;
    font-size: 2.5rem !important;
    padding: 1rem !important;
    height: auto;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;

}

.error {
    color: #ff2c3e;
}