.nav-bar-edit{
    background-color: #6e72ee !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.btn-edit{
    background-color: #6e72ee !important;
}

.btn-edit:hover{
    background-color: #3d42e2 !important;
    
}

body {
    overflow: auto;
    font-family: 'Righteous', cursive;
  
}


footer{
    background-color: #6e72ee !important;
    bottom: 0;
}

.edit-icon{
    margin-top: 3px;
    width: 1.3rem;
}

.edit-p-text-footer{
    text-align: left;
}

.content {
    margin-top: 2rem;
}

.card-content {
    border: solid lightgray 1px;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    width: 100%;
    height: 100%;
}

.card-content h1 {
    font-size: 22px;
    margin: 0 0 20px 0;
}

.card-edit {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    flex-direction: column;
    cursor: grab;
}

.card-edit:active {
    cursor: grabbing;
}

.close {
    display: none; 
    position: absolute;
    top: 6px;
    right: 5px!important;
    text-align: right;
    cursor: pointer;
}

.close:active {
    transform: scale(0.9);
}

.close span {
    border-radius: 100%;
    padding: 5px 8px 5px 8px;
    margin-top: 2px;
    font-size: 12px;
    cursor: pointer;
}

.close span:hover {
    background-color: #6e72ee;
    color: white;
}

.conteiner-edit {
   padding-right: 5%;
   padding-left: 5%;
}

.content-top {
    margin-right: 2px;
    margin-bottom: 5px;
}

.content-mid {
    margin-left: 2px;
    margin-bottom: 5px;
}

.content-final {
    width: 100%;
}

.content-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.row {
    margin-left: 0 !important;
}

.mount {
    display: flex;
    justify-content: space-between;
}

.reload {
    font-size: 20px;
    cursor: pointer;
}

.reload:active {
    transform: scale(0.9);
}

.li-ev:active {
    transform: scale(0.99);
}

#tx-result {
    resize: none;
    border: none;
    box-shadow: none;
}

#tx-result {
    resize: none;
    border: none;
    overflow: hidden;
}

#tx-result:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

#tx-result:disabled {
    font-family: 'Righteous', cursive !important;
    color: black !important;
}