.div-btn-pos-edit{
    text-align: center;
}

.icon-config{
    font-size: 1.2rem !important;
}

.select-dropdown{
    text-align: center;
    border: none !important;
}

.caret{
    display: none;
}

label{
    text-align: center !important; 
}

.h6-edit{
    margin-bottom: 2rem;
}

.conteiner-edit{
    padding-top: 5rem;
    min-height: calc(102vh - 321px);
}
.rows {
    display: inline-flex;
    text-align: center;
}

.center-div {
    text-align: center;
}
.nav-bar-edit{
    background-color: #6e72ee !important;
    text-align: center;
    z-index: 999;
}
.btn-edit{
    background-color: #6e72ee !important;
}

.btn-edit:hover{
    background-color: #3d42e2 !important;
    
}

.active{
    color: #3d42e2!important;
}

.input-edit{
    border-bottom: #3d42e2 solid 1px !important;
}

body {
    overflow: auto;
    font-family: 'Righteous', cursive;
}


.band-logo-edit{
    position: relative !important;
}

.separar-left {
    padding-left: 2rem;
}

.separar-right {
    padding-right: 2rem;
}

.span-edit-tab {
    color: #6e72ee;
}

#simulate {
    background-color: #6e72ee;
    color: white;
}

#simulate:hover {
    background-color: #0bd40b;
    color: black;
}

#addTEC {
    background-color: #6e72ee;
    color: white;
}

#addTEC:hover {
    background-color: #0bd40b;
    color: black;
}

#addTS {
    background-color: #6e72ee;
    color: white;
}

#addTS:hover {
    background-color: #0bd40b;
    color: black;
}

#clear {
    background-color: #6e72ee;
    color: white;
}

#clear:hover {
    background-color: red;
    color: black;
}

.display-none {
    display: none;
}

footer{
    background-color: #6e72ee !important;
    position: relative;
    top: 2rem;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.edit-icon{
    margin-top: 3px;
    width: 1.3rem;
}

.edit-p-text-footer{
    text-align: left;
}