@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body, html{
	background-color: #4e4e4e;
	font-family: 'Rubik', sans-serif;
	font-size: 1em;
	width: 100%;
}

.header {
	background-color: #cf8803;
	margin-bottom: 2rem;
	height: 79px;
	border-bottom-left-radius: 2rem ;
	border-bottom-right-radius: 2rem ;
}

.bt-group button {
	height: 2.5rem;
	background-color: #2d2d2c !important;
	color:  #cf8803 !important;
}

.bt-group button:hover {
	background-color:#cf8803 !important;
	color:#2d2d2c !important;
}

.button-end button {
	height: 2.5rem;
	background-color: #2d2d2c !important;
	color:  #cf8803 !important;
}

.button-end button:hover {
	background-color:#cf8803 !important;
	color:#2d2d2c !important;
}


.lbl-entry-point {
	color: #cf8803;
}

.bt-group {
	position: relative;
	left: 10rem;
}

.title-dp {
	font-size: 1.2rem;
}

.li-down {
	color: white;
}

.li-buck {
	color: white;
}

.li-down:hover {
	color: #00c251;
}

.li-buck:hover {
	color:#076adb
}

.div-ul-dp {
	padding: 2rem;
}

.ul-dev {
	font-size: 1.1rem;
	list-style-type:none
}

.ul-rep {
	font-size: 1.1rem;
	list-style-type:none

}

.arrow {
	position: absolute;
    right: 20px;
    top: -23px;
    color: #2d2d2c;
}

.div-img {
	text-align: center;
	margin-top: 8px;
}

.div-img img{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-size: cover
}

.dp-bt {
	background-color: #2d2d2c;
	color: #cf8803 !important;
}

.dp-menu {
	top: 8px !important;
	left: -13rem !important;
    height: 16rem !important;
	width: 30rem !important;
	background-color: #2d2d2c;
	border-radius: 2rem;
}

.dp-bt:hover {
	background-color: #424241;
	color: white !important;
}

.header-title {
	position: relative;
	top: 0.5rem;
	left: 1rem;
	width: 30rem;
	color:black;
}

.drop-div {
	position: absolute;
	top: 1rem;
	right: 1rem;
}



.letter-select {
	color: #2d2d2c !important;
	background-color: #09a803 !important;
}

.letter-select-error {
	color: #2d2d2c !important;
	background-color: #aa0000 !important;
}

.pagination-div{
	margin-left: 1rem;
}

.button-end {
	padding-top: 1.1rem;
}

.pagination-div ul li a {
	font-weight: bold !important; 
	background-color: #2d2d2c;
	color: #cf8803;
}

.stack {
	border: none !important;
}

.head-table {
	background-color: #2d2d2c;
	color: #cf8803;

}
.body-table {
	background-color: #cf8803;
	color: #2d2d2c;
	font-weight: bold !important;
}

.pagination-div ul li a:hover {
	background-color: #cf8803;
	color: #2d2d2c;
}

.tr-table{
	background-color: #2d2d2c !important;
	color: white !important;
	text-align: center;
}

.td-none:hover{
	background-color: #cf8803 !important;
	cursor: pointer;
}
.td-start:hover{
	background-color: #cf8803 !important;
	cursor: pointer;
}
.td-end:hover{
	background-color: #cf8803 !important;
	cursor: pointer;
}

.tr-table th {
	border: 1px solid white !important;
}

.td-none {
	border-top: none !important;
}

.td-col {
	border-right: 1px solid white !important;
}

.td-start {
	border-top: 1px solid white !important;
}

.td-end {
	border-top: none !important;
	border-bottom: 1px solid white !important;
}

.tr-init {
	border: 1px solid white !important;
	background-color: #cf8803 !important;
	color: black !important;
	font-weight: bolder !important;
}

.painel-table {
	border: 1px solid white !important;
	box-shadow: none !important;
}

.botao:hover{
	background-color: #79ff4d !important;
}
