.edit-container {
    padding-top: 5%;
    width: 80%;
}

.div-k {
    display: none;
}
.span-al{
    text-align: center;
}

.span-color {
    padding-top: 0.7rem;
    padding-left: 7rem;
}

.div-span-color{
    border: black solid 1px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.link-edit{
    text-align: center;
}
.p-div {
    font-size: 2rem;
}
.button-edit{
    text-align: center;
}

#remove{
    background-color: #c54141;
}

#remove:hover{
    background-color: #cc2c2c;
    color: black;
}

#generate{
    background-color: #41c55e;
}

#generate:hover{
    background-color: #2ccc34;
    color: black;
}
#push{
    background-color: #4164c5;
}

#push:hover{
    background-color: #2c3ccc;
    color: black;
}